<div class="container">
  <h1>Add a bookmark</h1>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>     
    <%= f.submit "Sumbit it bro", class: 'btn btn-primary' %>
  <% end %>
    
</div>